<p>
  <strong>이름: </strong>
  <%= @article.name %>
</p>

<p>
  <strong>내용: </strong>
  <%= @article.content %>
</p>

<%=link_to "삭제", article_path(@article), method: :delete %>

<%= link_to "목록보기", articles_path %>