<p>
  <strong>주문자: </strong>
  <%= @article.name %>
</p>

<p>
  <strong>주문내용: </strong>
  <%= @article.content %>
</p>

<%=link_to "삭제", article_path(@article), method: :delete %>

<%= link_to "주문 목록", articles_path %>